    <!-- Header -->
    <header id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <!-- <span class="name">{{ site.title }}</span> -->
                        <span class="name">{{ site.description }}</span>
                        <hr class="star-light">
                        <!-- <span class="skills">{{ site.description }}</span> -->
                        <p class="skills">拥有一线的实战经验，掌握最新的主流技术</p>
                        <p class="skills">本着工匠精神</p>
                        <p class="skills">致力于为有梦想、敢拼搏的创业者们</p>
                        <p class="skills">打造一个又一个令人惊叹的互联网产品</p>
                    </div>
                </div>
            </div>
        </div>
    </header>