<!-- About Section -->
<section class="success" id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Experience - 经验</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <ul>
                    <li><h4>LINUX、WINDOWS服务器</h4></li>
                    <li><h4>MYSQL、REDIS、MONGODB数据库</h4></li>
                    <li><h4>DOCKER、Kubernetes微服务架构及部署</h4></li>
                    <li><h4>APACHE、NGINX配置</h4></li>
                    <li><h4>PYTHON、NODEJS、JAVA、Objective-C等开发语言</h4></li>
                    <li><h4>H5、CSS3、ES6，REACT等前端技术</h4></li>
                    <li><h4>PHOTOSHOP、AI、COREDRAW等设计软件</h4></li>
                </ul>
            </div>

            <!-- <div class="col-lg-4 col-lg-offset-2">
                <p>LINUX、WINDOWS服务器</p>
                <p>MYSQL、REDIS、MONGODB数据库</p>
                <p>DOCKER微服务架构及部署</p>
                <p>APACHE、NGINX配置</p>
            </div>
            <div class="col-lg-4">
                <p>PYTHON、NODEJS、JAVA、Objective-C等开发语言</p>
                <p>H5、CSS3、ES6等前端技术</p>
                <p>PHOTOSHOP、AI、COREDRAW等设计软件</p>
            </div> -->
            <!-- <div class="col-lg-4 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
        </div>
    </div>
</section>