<!-- About Section -->
<section class="success" id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Experience</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <ul>
                    <li>PYTHON、NODEJS、JAVA、Objective-C等开发语言</li>
                    <li>H5、CSS3、ES6等前端技术</li>
                    <li>PHOTOSHOP、AI、COREDRAW等设计软件</li>
                    <li>LINUX、WINDOWS服务器</li>
                    <li>MYSQL、REDIS、MONGODB数据库</li>
                    <li>DOCKER微服务架构及部署</li>
                    <li>APACHE、NGINX配置</li>
                </ul>
            </div>

            <!-- <div class="col-lg-4 col-lg-offset-2">
                <p>LINUX、WINDOWS服务器</p>
                <p>MYSQL、REDIS、MONGODB数据库</p>
                <p>DOCKER微服务架构及部署</p>
                <p>APACHE、NGINX配置</p>
            </div>
            <div class="col-lg-4">
                <p>PYTHON、NODEJS、JAVA、Objective-C等开发语言</p>
                <p>H5、CSS3、ES6等前端技术</p>
                <p>PHOTOSHOP、AI、COREDRAW等设计软件</p>
            </div> -->
            <!-- <div class="col-lg-4 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
        </div>
    </div>
</section>