<!-- Contact Section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Team - 团队</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <h3>RAYJAR</h3>
                <p>rayjar rayjar rayjar</p>
                <p>rayjar rayjar rayjar</p>
                <p>rayjar rayjar rayjar</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <h3>RAYJAR</h3>
                <p>rayjar rayjar rayjar</p>
                <p>rayjar rayjar rayjar</p>
                <p>rayjar rayjar rayjar</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <h3>RAYJAR</h3>
                <p>rayjar rayjar rayjar</p>
                <p>rayjar rayjar rayjar</p>
                <p>rayjar rayjar rayjar</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <h3>RAYJAR</h3>
                <p>rayjar rayjar rayjar</p>
                <p>rayjar rayjar rayjar</p>
                <p>rayjar rayjar rayjar</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <h3>RAYJAR</h3>
                <p>rayjar rayjar rayjar</p>
                <p>rayjar rayjar rayjar</p>
                <p>rayjar rayjar rayjar</p>
            </div>

        </div>
    </div>
</section>